/* TolTip */
.VietAdTooltip
{
	text-align:left;
	position: absolute;
	width: 320px;	
	border: 1px solid #4570c5;
	padding: 2px;
	background-color:#f0f7ff;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);		
}

.toolTipTitle
{
	font-family: Arial; 
	font-size: 13px; 
	font-weight: bold; 
	color: #bd0000;
}

.toolTipHeader
{
	font-family: Arial; 
	font-size: 13px; 
	font-weight: bold; 
	color: #000000; 
	text-align: right;
	width: 100%;
}

.toolTipBody
{
	font-family:Arial , Sans-Serif;   
	font-size: 12px; 
	font-weight: normal; 
	color:#000; 
	text-align: left;
}

.LargeTime1
{
    font-size:10px;
    font-family:Tahoma;
    color:#838383;
}
/* END TolTip */

.txt_0054a6_m_bold
{
	font-family:Arial;
	font-size:12px;
	color:#0054a6;
	font-weight:bold;
}
.txt_004a80_18_bold
{
	font-family:Arial;
	font-size:18px;
	color:#004a80;
	font-weight:bold;
}
.txt_004a80_l_bold
{
	font-family:Arial;
	font-size:16px;
	color:#004a80;
	font-weight:bold;
}
.txt_004a80_m_bold
{
	font-family:Arial;
	font-size:12px;
	color:#004a80;
	font-weight:bold;
}
.txt_004a80_ml_bold
{
	font-family:Arial;
	font-size:14px;
	color:#004a80;
	font-weight:bold;
}
.txt_004a80_m
{
	font-family:Arial;
	font-size:12px;
	color:#004a80;	
}
.txt_004a80_ml
{
	font-family:Arial;
	font-size:14px;
	color:#004a80;	
}
.txt_636363_m_bold
{
	font-family:Arial;
	font-size:11px;
	color:#636363;
	font-weight:bold;
}

.txt_0054a6_m
{
	font-family:Arial;
	font-size:12px;
	color:#0054a6;	
}
.txt_black_m
{
	font-family:Arial;
	font-size:12px;
	color:#000;	
}
.lnk_black_m
{
	font-family:Arial;
	font-size:12px;
	color:#000;	
}
a.lnk_black_m:hover
{
	color:#004a80;
}

.lnk_black_s
{
	font-family:Arial;
	font-size:11px;
	color:#000;	
}
a.lnk_black_s:hover
{
	color:#d5030a;
}
.txt_black_ml
{
	font-family:Arial;
	font-size:14px;
	color:#000;	
}
.alnk_black_m_bold
{
	font-family:Arial;
	font-size:12px;
	color:#000;	
	font-weight:bold;
}
.alnk_black_m_bold:hover
{
	color:#004a80;
}
.txt_black_m_bold
{
	font-family:Arial;
	font-size:12px;
	color:#000;	
	font-weight:bold;
}
.txt_gray_m
{
	font-family:Arial;
	font-size:11px;
	color:#636363;	
}
.txt_gray_m_bold
{
	font-family:Arial;
	font-size:11px;
	color:#636363;
	font-weight:bold;
}
a.txt_gray_m_bold:hover
{
	color:#d5030a;
}
.txt_white_m
{
	font-family:Arial;
	font-size:12px;
	color:#fff;		
}
.txt_white_m_bold
{
	font-family:Arial;
	font-size:12px;
	color:#fff;		
	font-weight:bold;
}
.txt_white_ml_bold
{
	font-family:Arial;
	font-size:14px;
	color:#fff;		
	font-weight:bold;
}
.txt_white_l_bold
{
	font-family:Arial;
	font-size:16px;
	color:#fff;	
	font-weight:bold;
}
.bgbarrpt_cam
{
	width:200px;height:39px;float:left;background-image:url(../Images/bgBar_rptCam.jpg);background-repeat:repeat-x;
	text-align:left;
	clear:both;	
	overflow:hidden;
	margin-bottom:2px;	
}
.bgbarrpt_xanhlam
{
	width:200px;height:25px;float:left;background-image:url(../Images/bgBar_rptXanhluc.jpg);background-repeat:repeat-x;
	text-align:left;padding:2px 8px 0px 8px;	
	clear:both;
}
.Tieudiem_top_left
{
	width:7px;height:37px;float:left;background-image:url(../Images/Tieudiem_top_left.jpg);background-repeat:no-repeat;overflow:hidden;
}

.Tieudiem_top_center
{
	width:286px;height:37px;float:left;background-image:url(../Images/Tieudiem_top_center.jpg);background-repeat:repeat-x;overflow:hidden;
}
.Tieudiem_top_right
{
	width:7px;height:37px;float:left;background-image:url(../Images/Tieudiem_top_right.jpg);background-repeat:no-repeat;overflow:hidden;
}

.solid_top_left
{
	width:7px;height:36px;float:left;background-image:url(../Images/solid_top_left.jpg);background-repeat:no-repeat;overflow:hidden;
}

.solid_top_center
{
	width:286px;height:36px;float:left;background-image:url(../Images/solid_top_center.jpg);background-repeat:repeat-x;overflow:hidden;
}
.solid_top_right
{
	width:7px;height:36px;float:left;background-image:url(../Images/solid_top_right.jpg);background-repeat:no-repeat;overflow:hidden;
}

.Canhbao_top_left
{
	width:8px;height:34px;float:left;background-image:url(../Images/Canhbao_top_left.jpg);background-repeat:no-repeat;overflow:hidden;
}

.Canhbao_top_center
{
	width:285px;height:34px;float:left;background-image:url(../Images/Canhbao_top_center.jpg);background-repeat:repeat-x;overflow:hidden;
}
.Canhbao_top_right
{
	width:8px;height:34px;float:left;background-image:url(../Images/Canhbao_top_right.jpg);background-repeat:no-repeat;overflow:hidden;
}

.diemnong_top_left_phapluat
{
	width:9px;height:34px;float:left;background-image:url(../Images/diemnong_top_left_phapluat.jpg);background-repeat:no-repeat;overflow:hidden;
}

.diemnong_top_center_phapluat
{
	width:284px;height:34px;float:left;background-image:url(../Images/diemnong_top_center_phapluat.jpg);background-repeat:repeat-x;overflow:hidden;
}
.diemnong_top_right_phapluat
{
	width:8px;height:34px;float:left;background-image:url(../Images/diemnong_top_right_phapluat.jpg);background-repeat:no-repeat;overflow:hidden;
}

.diemnong_top_left
{
	width:8px;height:34px;float:left;background-image:url(../Images/diemnong_top_left.jpg);background-repeat:no-repeat;overflow:hidden;
}

.diemnong_top_center
{
	width:285px;height:34px;float:left;background-image:url(../Images/diemnong_top_center.jpg);background-repeat:repeat-x;overflow:hidden;
}
.diemnong_top_right
{
	width:8px;height:34px;float:left;background-image:url(../Images/diemnong_top_right.jpg);background-repeat:no-repeat;overflow:hidden;
}
.diemnong_content
{
	width:298px;border-left:solid 1px #d7d7d7;border-right:solid 1px #d7d7d7;clear:both;
}
.diemnong_bottom
{
	width:300px;height:8px;float:left;background-image:url(../Images/diemnong_bottom.jpg);background-repeat:no-repeat;overflow:hidden;
}
.atopiclistright
{
	background-image:url(../Images/bluedot.jpg);background-position:0px 7px;background-repeat:no-repeat;padding-left:8px;
	font-family:Arial;
	font-size:12px;
	color:#000;	
}

.top_box_right
{
	width:300px;height:6px;clear:both;background-image:url(../Images/top_box_right.jpg);background-repeat:no-repeat;overflow:hidden;font-size:1px;
}
.txt_d5030a
{
	font-family:Arial;
	color:#d5030a;
}


.imgvideoblock
{
    display:block;
}
 .imgvideonone
{
    display:none;
}
.itemSubchanneltop
{
	width:130px;float:left;height:117px;text-align:left;
}
.itemtinbaikhac
{
	width:660px;margin-top:5px;padding-left:10px;clear:both;background-image:url(../Images/red_dot.jpg);background-repeat:no-repeat;background-position:0 6px;
}

/*----------------Update new desgin------------------*/
.itemtop
{
	background:url(http://tuoitre.vn/images/rptItemtop.jpg) top left repeat-x;
	width:100%;
	height:28px;
	line-height:28px;
	clear:both;
}
.aNewsletter
{
	line-height:28px;
	background:transparent url(http://tuoitre.vn/images/IconNewsletter.jpg) no-repeat scroll right center;	
	padding-right:25px;		
	display:block;
	float:left;

}
.MobileWeb
{
	line-height:28px;
	background:transparent url(http://tuoitre.vn/images/iconMobile.jpg) no-repeat scroll right center;		
	padding-right:25px;	
	display:block;
	float:left;
}
.iconrss
{
	line-height:28px;background-image:url(http://tuoitre.vn/images/iconrss.jpg);background-position:right center;background-repeat:no-repeat;
	padding-right:20px;
	display:block;
	float:left;
	height:30px;
}
.icontuoitretop
{
	line-height:28px;background-image:url(http://tuoitre.vn/images/icontuoitretop.jpg);background-position:right center;background-repeat:no-repeat;	
	display:block;
	float:left;	
	width:56px;
	margin-left:34px;
}
.icontuoitrecuoi
{
	line-height:28px;background-image:url(http://tuoitre.vn/images/icontuoitrecuoi.jpg);background-position:right center;background-repeat:no-repeat;	
	display:block;
	float:left;	
	width:48px;
	margin-left:10px;
}
.iconAotrang
{
	line-height:28px;background-image:url(http://tuoitre.vn/images/iconAotrang.jpg);background-position:right center;background-repeat:no-repeat;	
	display:block;
	float:left;	
	width:88px;
	margin-left:10px;
}

.iconVietnews
{
	line-height:28px;background-image:url(http://tuoitre.vn/images/iconVietnews.jpg);background-position:right center;background-repeat:no-repeat;	
	display:block;
	float:left;	
	width:85px;
	margin-left:10px;
}
.iconTTMobile
{
	line-height:28px;background-image:url(http://tuoitre.vn/images/ttoMobile.png);background-position:right center;background-repeat:no-repeat;	
	display:block;
	float:left;	
	width:70px;
	margin-left:7px;
}

.xanh_top_left
{
	width:7px;height:34px;float:left;background-image:url(../Images/xanh_top_left.jpg);background-repeat:no-repeat;overflow:hidden;
}

.xanh_top_center
{
	width:287px;height:34px;float:left;background-image:url(../Images/xanh_top_center.jpg);background-repeat:repeat-x;overflow:hidden;
}
.xanh_top_right
{
	width:7px;height:34px;float:left;background-image:url(../Images/xanh_top_right.jpg);background-repeat:no-repeat;overflow:hidden;
}

.NST_color1
{
	width:100%;height:26px;float:left;background-image:url(../Images/NST_color1.jpg);background-repeat:repeat-x;overflow:hidden;margin-bottom:2px;
}

.NST_color2
{
	width:100%;height:26px;float:left;background-image:url(../Images/NST_color2.jpg);background-repeat:repeat-x;overflow:hidden;margin-bottom:2px;
	
}
.topcommentright
{
	margin:0px;padding:0px 0px 0px 10px;clear:both;background-image:url(../Images/blackdot.jpg);background-repeat:no-repeat;background-position:0px 8px;
}
.bgRightTyloisong
{
	width:300px;clear:both;background-image:url(../Images/bgRightTyloisong.jpg);background-repeat:no-repeat;height:108px;	
	text-align:center;
	padding-top:10px;
}
.bgRightgiaoduc
{
	width:297px;clear:both;background-image:url(../Images/rightduhoc.jpg);background-repeat:no-repeat;height:263px;		
	margin-bottom:8px;
}
.topttcanbiet
{
	width:283px;clear:both;background-image:url(../Images/topttcanbiet.jpg);background-repeat:no-repeat;height:8px;overflow:hidden;		
}
.centerttcanbiet
{
	width:281px;border-left:solid 1px #d7d7d7;border-right:solid 1px #d7d7d7;clear:both;
}
.bottomttcanbiet
{
	width:283px;clear:both;background-image:url(../Images/bottomttcanbiet.jpg);background-repeat:no-repeat;height:9px;overflow:hidden;
}
.Contentttcanbiet
{
	width:283px;overflow:hidden;clear:both;display:none;
}
.bgHeadopacity
{
    width: 100%;
    background-color: #000000;	
    font-family: Arial;
    color: #969696;
    cursor: pointer;
    filter: alpha(opacity=60);
    opacity: .6;
    clear:both;height:86px;
    margin-top:299px;
} 
.Head_camLDTT
{
	width:190px;clear:both;background-image:url(../Images/Head_camLDTT.jpg);background-repeat:no-repeat;height:34px;overflow:hidden;	
}

.Center_camLDTT
{
	width:188px;height:270px;clear:both;overflow:hidden;border-left:solid 1px #d7d7d7;border-right:solid 1px #d7d7d7;	
}
.bttomsubLDTT
{
	width:190px;clear:both;background-image:url(../Images/bttomsubLDTT.jpg);background-repeat:no-repeat;height:7px;overflow:hidden;	
}
.itemSubLDTT
{
	width:175px;margin:0px 0px 0px 3px;padding:0px 0px 0px 8px;clear:both;background-image:url(../Images/Orangedot.jpg);background-repeat:no-repeat;background-position:0 6px;	
}

.Head_xanhlacay
{
	width:190px;clear:both;background-image:url(../Images/Head_xanhlacay.jpg);background-repeat:no-repeat;height:34px;overflow:hidden;	
}
.Head_hong
{
	width:190px;clear:both;background-image:url(../Images/Head_hong.jpg);background-repeat:no-repeat;height:33px;overflow:hidden;	
}
.Head_Tim
{
	width:190px;clear:both;background-image:url(../Images/Head_Tim.jpg);background-repeat:no-repeat;height:34px;overflow:hidden;	
}
.Head_xanh
{
	width:190px;clear:both;background-image:url(../Images/Head_xanh.jpg);background-repeat:no-repeat;height:34px;overflow:hidden;	
}

.Head_Sub_TCCK_xanh
{
	width:226px;clear:both;background-image:url(../Images/Head_Sub_TCCK_xanh.jpg);background-repeat:no-repeat;height:37px;overflow:hidden;	
}
.Center_Sub_TCCK_xanh
{
	width:224px;height:190px;clear:both;overflow:hidden;border-left:solid 1px #0072bc;border-right:solid 1px #0072bc;	
}
.bottom_Sub_TCCK_xanh
{
	width:226px;clear:both;background-image:url(../Images/bottom_Sub_TCCK_xanh.jpg);background-repeat:no-repeat;height:7px;overflow:hidden;	
}

.Head_Sub_TCCK_xam
{
	width:226px;clear:both;background-image:url(../Images/Head_Sub_TCCK_xam.jpg);background-repeat:no-repeat;height:37px;overflow:hidden;	
}
.Center_Sub_TCCK_xam
{
	width:224px;height:190px;clear:both;overflow:hidden;border-left:solid 1px #8b8989;border-right:solid 1px #8b8989;	
}
.bottom_Sub_TCCK_xam
{
	width:226px;clear:both;background-image:url(../Images/bottom_Sub_TCCK_xam.jpg);background-repeat:no-repeat;height:7px;overflow:hidden;	
}
.bottom_tdck
{
	width:299px;clear:both;background-image:url(../Images/bottom_tdck.jpg);background-repeat:no-repeat;height:6px;overflow:hidden;	
}
.itemtudienck
{
	width:285px;margin:0px 0px 0px 5px;padding:0px 0px 0px 8px;clear:both;background-image:url(http://tuoitre.vn/images/blackdot.jpg);background-repeat:no-repeat;background-position:0 6px;	
}
.xemtiepthongtindichvu
{
	width:107px;background-image:url(../Images/xemtiepTTdichvu.jpg);background-repeat:no-repeat;height:23px;overflow:hidden;float:right;overflow:hidden;margin-right:8px;	
}
.xemtiep
{
	width:107px;background-image:url(../Images/xemtiepchannelsample.gif);background-repeat:no-repeat;height:23px;overflow:hidden;float:right;overflow:hidden;
}
.bgHeadquansattt
{
	width:100%;background-image:url(../Images/bgHeadquansattt.jpg);background-repeat:no-repeat;height:36px;overflow:hidden;clear:both;
}
.bgHeadCK
{
	width:100%;background-image:url(../Images/bgHeadCk.jpg);background-repeat:no-repeat;height:35px;overflow:hidden;clear:both;
}

div.select {position:relative; display:inline; padding:3px 2px; margin:0 -2px; font-size:12px!important;}
div.select:hover {padding:3px 2px;}
div.select a:hover {text-decoration:none}
ul.selectbox {
	position:absolute; top:18px; left:-1px; padding:2px 6px 0 2px; list-style:none;
	background:#FFF; border-width:0 1px 1px 0; border-style:solid; border-color:#ccc;
	z-index:1000; line-height:1.5em; display:block; margin:0}
#text ul.selectbox li {border-top:1px solid #e4ef9d; background: none; width:96%; padding:2px 2%}
ul.selectbox li:hover {background:#f6fdca}
ul.selectbox a {color:#727272; text-decoration:none}
ul.selectbox a:hover {text-decoration:underline; color:#444}
div.select a.pulldown_arrow {
	letter-spacing:2px; padding:1px 3px;
	background:url(../Images/arrowDopdrow.jpg) 0 6px no-repeat; text-decoration:none}
div.select a.pulldown_arrow:hover {text-decoration:none}
div.hide-dropdown .selectbox {display: none;}
.ItemBreakingnews
{
	width:300px;clear:both;height:20px;overflow:hidden;line-height:20px;padding-left:13px;clear:both;background-image:url(../Images/dot_breakingnews.jpg);background-repeat:no-repeat;background-position:5px 10px;
}
.bgBreakingnews
{
	width:100%;background-image:url(http://tuoitre.vn/Images/Banner-Home/bgBreakingnews_BDQH.jpg?v=3);background-repeat:no-repeat;height:60px;overflow:hidden;clear:both;padding-top:3px;
}
/* Ban doc */

.blockCommentUser{width:678px; overflow:hidden; background:url(../images/bgGroundCterBv.jpg) top left repeat-y; margin-bottom:10px; clear:both; line-height:16px; padding:0; margin:0;}
.blockCommentUser p{padding:0; margin:0;}
.blockCommentUser a.colorBlack{color:#000; text-decoration:none}
.blockCommentUser a.colorBlack:hover{color:#000; text-decoration:none; text-decoration:underline;}
.blockCommentUser .colorBlue{color:#0076a3; text-decoration:none}
.blockCommentUser a.colorBlue{color:#0076a3; text-decoration:none}
.blockCommentUser a.colorBlue:hover{color:#0076a3; text-decoration:underline;}
.blockCommentUser .clearblock{clear:both}
.titleBlockCmentUser{background:url(../images/tabBdvietCter.jpg) top left repeat-x; height:36px; clear:both; line-height:30px;}
.titleBlockCmentUserLeft{background:url(../images/tabBdvietLeft.jpg) top left no-repeat; height:36px;}
.titleBlockCmentUserRight{background:url(../images/tabBdvietRight.jpg) top right no-repeat; height:36px; padding: 0 40px 0 20px; color:#FFF; font-size:14px; font-weight:bold;}
.blockCommentUserBtom{background:url(../images/bgGroundBtomBv.jpg) bottom left no-repeat; width:676px; padding-bottom: 2px;}
.blockCommentUserCtent{padding: 6px; background:url(../images/bgGroundBvCter.jpg) top left repeat-x;margin: 0 1px 0 1px}
.blockCommentUserCtent .txtText{border:1px solid #d7d7d7; background:#FFF; padding: 2px; height:20px;}
.bderBtomTitleBv{border-bottom:1px solid #d7d7d7; padding: 6px;}
.boxUploatFileBvUser{background:url(../images/bgUploadfileBv.jpg) bottom left repeat-x; height:26px; border:1px solid #d7d7d7; border-top:none; line-height:26px; padding: 4px 6px 0 6px;}
.btnViewOver{background:url(../images/btnViewTruocBv.jpg) no-repeat; width:135px; height:28px; cursor:pointer; border:none;}
.btnSendBvUser{background:url(../images/btnSendBvBandoc.jpg) no-repeat; width:115px; height:26px; cursor:pointer; border:none;}

/* Editor */
.reToolbar.Default .CustomImageManagerDirect
{
    background-image: url('../Images/image.gif');
}

.reToolbar.Default .CustomMediaManager
{
    background-image: url('../Images/media.gif');
}

.aOnline {
    background: url(http://tuoitre.vn/Tetonline2011/images/YMOnline.png) no-repeat scroll left top transparent;
    display: block;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    width: 241px;
}
.THTT
{
	clear:both;width:100%;
}	
.THTTHead
{
    width:200px;clear:both;background-image:url(http://tuoitre.vn/Images/bgTopVideo.jpg);background-repeat:no-repeat;height:6px;overflow:hidden;	
} 
.THTTTitle
{    
	width:200px;clear:both;background-color:#000;height:33px
}
.THTTContent
{     
	width:198px;clear:both; height:185px; border:solid 1px #c1c1c1;background-color:#000;overflow:hidden	
}   
.THTTUnder_bg_Opacity
{   
    width: 188px; height: 25px; margin-top: -25px; z-index: 1;filter:alpha(opacity=40); background-color: #000; position: relative; opacity: 0.6;
}
.THTTUnder_Tit_opacity
{
    width: 188px; height: 25px; margin-top: -25px; z-index: 100; float: left; position: relative; opacity: 1;
}
.THTTUnder_tit
{
    width: 180px; height: 25px; float: left;display:block;padding:4px;
}
.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius:0px 0px;
   /* background: #F0F6F9;*/
    /*border: 1px solid #d7d7d7;*/
}


.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 188px;    
    padding: 15px 4px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width: 188px;
    height: 295px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 188px;
    height: 145px;	
	position:relative;
}
.jcarousel-skin-tango .jcarousel-container-vertical .img {width:188px; position:relative; z-index:100; border:0px;height:141px;}

.jcarousel-skin-tango .jcarousel-item .tittrans {
    position:absolute;bottom:0;left:0; width:188px;color:#FFF; background:#000; opacity:0.6; filter:alpha(opacity=60); z-index:1000;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
	width:188px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: -2px;
    left: 5px;
    width: 188px;
    height: 15px;
    cursor: pointer;
    background: transparent url(../Images/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -0px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -0px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -0px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 188px;
    height: 15px;
    cursor: pointer;
    background: transparent url(../Images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -0px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -0px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -0px;
}

.channeltop
{
	width:683px;clear:both;overflow:hidden; margin-bottom:7px; border:solid 1px #d7d7d7
}
.channelttopLeft
{
	width:498px;float:left;overflow:hidden;
}
.channelttopright
{
	width:184px;float:left;overflow:hidden;
}
.QCIframe
{
	clear:both;overflow:hidden;font-size:1px;width:100%;
}
.Tinanh
{
	clear:both;width:100%;
}